.firstCol .ruleIdentifiersClass{
  font-size: 24px;
}

.firstCol .idClass,.blockedClass{
  color:#888888;
  font-weight: bold;
}

.Row
{
  display: table;
  width: 100%; /*Optional*/
  table-layout: fixed; /*Optional*/
  border-spacing: 10px; /*Optional*/
}
.Column
{
  display: inline-block;
}
